@use "sass:map";

$light: #BFCEE1;
$dark: #142439;

$validation-env-colors: (
  "green": #7DFCAC,
  "red": #FF7483,
  "blue": #54CEFF,
  "yellow": #FFD366,
);

html {
  background-color: $dark !important;

  section {
    color: $light;

    h1 {
      color: $light !important;
    }

    section {
      margin-bottom: 2rem;

      #environments {
        margin-top: 1rem;
      }

      .env {
        border-radius: 4px;
        padding: 1rem 2rem 1rem 1.5rem;
        border-style: solid;
        display: flex !important;
        flex-flow: column wrap !important;
        justify-content: space-around !important;
        align-items: center !important;
        min-height: 230px;

        * {
          color: $dark;
        }

        .links {
          display: flex;
          justify-content: center;

          span {
            margin: 15px 10px;

            a {
              font-size: 2rem;
              color: $light;

              i {
                padding: 0.5rem;
                border-radius: 4px;
              }

              i:hover {
                background-color: rgba(0,0,0,0.1);
                transition: background-color 300ms ease;
              }
            }
          }
        }

        &.free {
          background-color: $dark !important;
        }

        @each $env, $color in $validation-env-colors {
          &.#{$env} {
            background-color: $color;
            border-color: $color;
            color: #fff;

            &.free {
              * {
                color: $color;
              }

              .button {
                background-color: $color;
                border-color: $color;
                color: #ffffff;
              }
            }
          }
        }

        &.free {
          background-color: #ffffff;
          border-width: 5px;
          a {
            font-size: 1.5rem;
          }
        }

        .ta-number {
          font-size: 2rem;
          margin-bottom: 10px;
        }

        .ta-title {
          text-align: center;
        }

        .quick-links {
          align-self: flex-end;
        }
        
        .env-owner {
          font-style: italic;
          font-size: .8rem;
          color: #445469 !important;
        }
      }

      .pull_requests {
        span.tag {
          margin-right: 10px;
        }
        .fab {
          font-size: 1.3rem;
          margin-left: 10px;
        }
      }

      ul {
        list-style: disc outside none;
        li{
          margin: 8px 0;
        }
      }
    }
  }
}
