$light: #BFCEE1;
$dark: #142439;
$green: #7DFCAC;
$blue: #54CEFF;
$red: #FF7483;
$yellow: #FFD366;

html {
  background-color: $dark !important;

  section {
    color: $light;

    h1 {
      color: $light !important;
    }

    section {
      margin-bottom: 2rem;

      #environments {
        margin-top: 1rem;
      }

      .env {
        border-radius: 4px;
        padding: 1rem 2rem 1rem 1.5rem;
        border-style: solid;
        display: flex !important;
        flex-flow: column wrap !important;
        justify-content: space-around !important;
        align-items: center !important;
        min-height: 230px;

        * {
          color: $dark;
        }

        .links {
          display: flex;
          justify-content: center;

          span {
            margin: 15px 10px;

            a {
              font-size: 2rem;
              color: $light;

              i {
                padding: 0.5rem;
                border-radius: 4px;
              }

              i:hover {
                background-color: rgba(0,0,0,0.1);
                transition: background-color 300ms ease;
              }
            }
          }
        }

        &.free {
          background-color: $dark !important;
        }

        &.green {
          background-color: $green;
          border-color: $green;
          color: #fff;

          &.free {
            * {
              color: $green;
            }

            .button {
              background-color: $green;
              border-color: $green;
              color: #ffffff;
            }
          }
        }

        &.blue {
          background-color: $blue;
          border-color: $blue;
          color: #fff;

          &.free {
            * {
              color: $blue;
            }

            .button {
              background-color: $blue;
              border-color: $blue;
              color: #ffffff;
            }
          }
        }

        &.red {
          background-color: $red;
          border-color: $red;
          color: #fff;

          &.free {
            * {
              color: $red;
            }

            .button {
              background-color: $red;
              border-color: $red;
              color: #ffffff;
            }
          }
        }

        &.yellow {
          background-color: $yellow;
          border-color: $yellow;
          color: rgba(0, 0, 0, .7);

          &.free {
            * {
              color: $yellow;
            }

            .button {
              background-color: $yellow;
              border-color: $yellow;
              color: rgba(0, 0, 0, .7);
            }
          }
        }

        &.free {
          background-color: #ffffff;
          border-width: 5px;
          a {
            font-size: 1.5rem;
          }
        }

        .ta-number {
          font-size: 2rem;
          margin-bottom: 10px;
        }

        .quick-links {
          align-self: flex-end;
        }
      }

      ul {
        list-style: disc outside none;
        li{
          margin: 8px 0;
        }
      }
    }
  }
}
