@use "sass:map";

$light: #fff;
$medium: #7a7a7a;
$dark: #142439;


$validation-env-colors: (
  "blue": #0088DC,
  "teal": #008080,
  "green": #9ACD32,
  "yellow": #FFD300,
  "orange": #FF6600,
  "red": #ED2939,
  "pink": #FF69B4,
  "purple": #69359C,
  "grey": #808080,
  "black": #000000,
  "white": #FFFFFF,
  "brown": #964B00,
);

html {
  background-color: $dark !important;

  section {
    color: $medium;

    h1 {
      color: $light !important;
    }

    section {
      margin-bottom: 2rem;

      #environments {
        margin-top: 1rem;
      }

      .env {
        border-radius: 4px;
        padding: 1rem 2rem 1rem 1.5rem;
        border-style: solid;
        min-height: 230px;

        * {
          color: $light;
        }

        a {
          color: $dark;
        }

        .level {
          margin-bottom: 0;
        }

        .links {
          margin-bottom: 20px;
          span {
            margin: 15px 10px 15px 0;

            a {
              font-size: 1.2rem;
              color: $dark;

              i {
                padding: 0.5rem;
                padding-left: 0;
                border-radius: 4px;
              }

              i:hover {
                background-color: rgba(0,0,0,0.1);
                transition: background-color 300ms ease;
              }
            }
          }
        }

        &.free {
          background-color: $dark !important;
        }

        @each $env, $color in $validation-env-colors {
          &.#{$env} {
            background-color: $color;
            border-color: $color;
            @if $env == "white" {
              color: #000;
            } @else {
              color: #fff;
            }

            &.free {
              * {
                color: $color;
              }

              .button {
                background-color: $color;
                border-color: $color;
                @if $env == "white" {
                  color: #000;
                } @else {
                  color: #fff;
                }
              }
            }
          }
        }

        &.free {
          background-color: #ffffff;
          border-width: 5px;
          a {
            font-size: 1.5rem;
          }
        }

        .quick-links {
          align-self: flex-end;
        }
      }

      .pull_requests_list {
        list-style: none;
        padding-left:0px;
        font-size:.8rem;
      }

      .pull_requests {
        span.tag {
          margin-right: 10px;
        }
        .fab {
          font-size: 1.3rem;
          margin-left: 10px;
        }
      }

      ul {
        list-style: disc outside none;
        li{
          margin: 18px 0;
        }
      }
    }
  }
}
