<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}JirHub{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('main.css') }}">
        {% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('main.js') }}"></script>
    {% endblock %}
    </body>
</html>
