<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}JirHub{% endblock %}</title>
        <link rel="stylesheet" href="build/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="build/runtime.js"></script>
        <script src="build/app.js"></script>
    </body>
</html>
