{% extends 'base.html.twig' %}
{% block body %}
    <section>

        <section>

            <ul>
                {% for i in 0..(num-1) %}

                    {% if type[i]=='string' %}
                        <p>{{ messageLinks[i] }}</p>
                    {% endif %}
                    {% if type[i]=='array' %}
                        <li>
                            <span>{{ messageLinks[i]['message'] }}</span>

                            <span>
								<a target="_blank" href="{{ messageLinks[i]['html_url'] }}">
									<i></i>
								</a>
							</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

    </section>

{% endblock %}
